@model IEnumerable<WebApplication4.Models.Student>


<table>
    <tr>
        <th>StudentId</th>
        <th>StudentName</th>
        <th>StudentBranch</th>
    </tr>
        @foreach (var student in Model)
        {
        <tr>
            <td>StudentId</td>
            <td>StudentName</td>
            <td>StudentBranch</td>
        </tr>
   
        
         }
</table>

